*~
build/
windows/
scratch/
out/
debian_repo
_CPack_Packages/
/libraries/
CMakeFiles/
CMakeCache.txt
.o
benchmarks/
.kdev/
*.kdev4
src/CPackConfig.cmake
src/CPackSourceConfig.cmake
Makefile
*.conf.local
src/compile_commands.json
website/
utilities/
samples/
nbproject/
runtime_data/keypoints/source.txt
*.deb
*.rpm
openalpr_*.tar.gz
openalpr-*.asc
openalpr-*.sig
openalpr-*.tar.gz
*.orig

# Visual Studio files
src.sln
*.vcxproj
*.vcxproj.*
*.suo
*.sdf
*.opensdf
*.dir/
*.ipch
Debug/
Release/

# JetBrains IDEA / PyCharm
.idea/


cmake_install.cmake
